body {
	height: 100%;
	width: 100%;
	background-color: #F1F1F1;
	display: inline-block;
	font-family: Arial, sans-serif;
	color: rgba(145,145,145,0.7); /*greycolor*/ 
	box-sizing: border-box;
}

*{box-sizing:border-box;}

.search{
	margin-top: 40px;

}

.search-form{
	width:80%;
	margin: 0 auto;
	padding: 40px 0;
	position: relative;
}

.search-input {
	width:100%;
    font-weight: 700;
    border: none;
    background: transparent;
    font-size: 6em;
    color: 	#ec5a62; /*pinkcolor*/
} 

.search-submit {
    position: absolute;
    width: 80px;
    height: 80px;
    text-indent: 100px;
    overflow: hidden;
    right: 0;
    top: 50%;
    background: transparent url(icons/search.svg) no-repeat center center;
    background-size: 100%;
    border: none;
    transform-origin: 100% 50%;
    -webkit-transform: translate3d(0,-50%,0) scale(1);
    transform: translate3d(0,-50%,0) scale(1);
    cursor: pointer;
}

.search-input::placeholder {
	color: #c2c2c2;
}

.search-input:focus,
.search-submit:focus {
	outline: none;
}

.search-submit:hover {
	-webkit-transform: translate3d(0,-50%,0) scale(1.1);
	transform: translate3d(0,-50%,0) scale(1.1);
	transition: 0.5s ease-out;
}

.search-content{
	display: flex;
	width: 80%;
    margin: 0 auto;
    padding: 40px 0;
    position: relative;
}

aside{
	width: 30%;
}

aside:nth-child(2){
	margin: 0 5%;
}

h3{
	text-transform: uppercase;
}

.search-list a{
	background-color: rgba(145,145,145,0.1);
	list-style: none;
	margin: 0;
	padding: 3%;
	margin: 2% 0;
	border-radius: 5px;
	display: block;
	cursor: pointer;
}

.search-content ul{
	padding: 0;	
}

a{
	display: block;
	text-decoration: none;
}

img{
	display: inline-block;
	width: 50px;
    margin: 0 3% 0 0;
    vertical-align: middle;
}


.search-content{
	color: rgba(145,145,145,0.7); /*не работет*/ 
}

.search-list h5{
	vertical-align: middle;
    font-size: 0.85em;
    display: inline-block;
    font-weight: 700;
    margin: 0;
    width: calc(100% - 70px);
    color: inherit; /*если здесь поставить серый цвет то не работет colot в hover*/
    max-width: 60%;
}

.search-list a:hover{
	background-color: rgba(145,145,145,0.4);
	transition: 0.5s ease-out;
	color: #ec5a62; /*не работет если я поставю серый цвет для заголовка выще*/
}

.circle{
	-webkit-border-radius: 50%;
	        border-radius: 50%;
}

li{
	list-style: none;
}

































